{% extends "WebBundle::layout.html.twig" %}
{% set og_type =  "website" %}
{% set og_image =  "null" %}
{% block title %}Home{% endblock %}
{% block body %}
	<div class="row content-section">
		<div class="col-sm-12 col-md-12" >
			<div class="col-sm-12 col-md-12 ">
				<a href="#" class="title-more">
					<span>Live Games</span>
					<i class="fa fa-th float-right"></i>
				</a>
			</div>
			<div class="flix-carousel" >
				<button  class="prev_btn"><i class="fa fa-chevron-left"></i></button>
				<button  class="next_btn"><i class="fa fa-chevron-right"></i></button>
				<div class="flix-scroll-x">
					{% for game in games %}
						{{ include('WebBundle:Game:game.html.twig',{game:game}) }}
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-12 col-md-12 ">
				<a href="#" class="title-more">
					<span>Live Channels</span>
					<i class="fa fa-th float-right"></i>
				</a>
			</div>
			<div class="flix-carousel" >
				<button  class="prev_btn"><i class="fa fa-chevron-left"></i></button>
				<button  class="next_btn"><i class="fa fa-chevron-right"></i></button>
				<div class="flix-scroll-x">
					{% for channel in channels %}
						{{ include('WebBundle:Livechannel:livechannel.html.twig',{channel:channel}) }}
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-12 col-md-12 ">
				<a href="#" class="title-more">
					<span>Feature Pro's</span>
					<i class="fa fa-th float-right"></i>
				</a>
			</div>
			<div class="flix-carousel" >
				<button  class="prev_btn"><i class="fa fa-chevron-left"></i></button>
				<button  class="next_btn"><i class="fa fa-chevron-right"></i></button>
				<div class="flix-scroll-x">
					{% for feature in features %}
						{{ include('WebBundle:Feature:feature.html.twig',{feature:feature}) }}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endblock%}